@tailwind base;

@tailwind components;

@tailwind utilities;

//

html{
    height: 100%;
}
body{
    display: flex;flex-direction: column;
}
main{
    flex: 1 0 auto;
}
.font-perso {
    font-family: 'Nunito', sans-serif;
}

#menu-toggle:checked + #menu {
    display: block;
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}

/* purgecss start ignore */
.livewire-pagination {
    @apply inline-block w-auto ml-auto float-right;
}
ul.pagination {
   @apply flex items-center justify-between;
}
.page-link {
   @apply relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-transparent cursor-pointer leading-5 mx-1;
}
.page-link:hover {
   @apply border-gray-300;
}
.page-item.active .page-link{
   @apply border-gray-300;
}
.page-item.disabled .page-link {
   @apply bg-white text-gray-300;
}

@import './back.scss';
